* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Lora", serif;
    background-color: white;
    color: black;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: auto;
    font-size: 2.2rem;
}

.line {
    border-bottom: 2px solid gray;
    margin: 10px 0px 35px 0px;
}

p {
    justify-content: left;
    text-align: left;
    align-items: left;
    margin-bottom: 10px;
}

input{ 
    padding: 5px 10px;
    width: 50%;
    height: auto;
    font-size: 1rem;
    margin-bottom: 20px;
    
}

button {
    padding: 5px; 
    margin: 25px auto 60px auto;
    width: 35%;
    height: auto;
    padding: 8px;
    border: 1px black solid;
    border-radius: 50px;
    box-shadow: 10px 8px 5px black;
    font-family: "Lora", serif;
    font-size: 1.5rem;
}

button:hover{
    transition: all .5s;
    transform: scale(1.1);
}

.hide {
 display: none;
}

.output-container {
    font-weight: 600;
    border: 1px solid gray;
    padding: 20px 10px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.alert {
    color: red;
    font-weight: 600;
    border: 1px solid gray;
    padding: 20px 10px;
    font-size: 1rem;
    text-align: center;
    width: 100%;

}